In [181]:
# Deficiencies
import pandas as pd
import numpy as np

In [182]:
Data = pd.read_csv('DataSets/Data.csv')
Data

   Zip Code  Age        Disease
0     47602   22  Heart Disease
1     47678   27  Heart Disease
2     47677   29  Heart Disease
3     47605   30  Heart Disease
4     47607   32         Cancer
5     47673   36         Cancer
6     47905   43            Flu
7     47906   47         Cancer
8     47909   52  Heart Disease

In [183]:
Data = Data.as_matrix()
Data

array([[47602L, 22L, 'Heart Disease'],
       [47678L, 27L, 'Heart Disease'],
       [47677L, 29L, 'Heart Disease'],
       [47605L, 30L, 'Heart Disease'],
       [47607L, 32L, 'Cancer'],
       [47673L, 36L, 'Cancer'],
       [47905L, 43L, 'Flu'],
       [47906L, 47L, 'Cancer'],
       [47909L, 52L, 'Heart Disease']], dtype=object)

In [184]:
Data[0][0]

47602L

In [185]:
for i in range(0,9):
    Data[i][1] = str(Data[i][1])[0] + '*' 


for i in range(0,6):
    Data[i][0] = str(Data[i][0])[0:3] + '**'
    
for i in range(6,9):
    Data[i][0] = str(Data[i][0])[0:4] + '*'

In [186]:
Data

array([['476**', '2*', 'Heart Disease'],
       ['476**', '2*', 'Heart Disease'],
       ['476**', '2*', 'Heart Disease'],
       ['476**', '3*', 'Heart Disease'],
       ['476**', '3*', 'Cancer'],
       ['476**', '3*', 'Cancer'],
       ['4790*', '4*', 'Flu'],
       ['4790*', '4*', 'Cancer'],
       ['4790*', '5*', 'Heart Disease']], dtype=object)

In [187]:
pd.DataFrame(Data)

       0   1              2
0  476**  2*  Heart Disease
1  476**  2*  Heart Disease
2  476**  2*  Heart Disease
3  476**  3*  Heart Disease
4  476**  3*         Cancer
5  476**  3*         Cancer
6  4790*  4*            Flu
7  4790*  4*         Cancer
8  4790*  5*  Heart Disease