In [4]:
# Deficiencies
import pandas as pd
import numpy as np
import re

In [5]:
Data = pd.read_csv('DataSets/Data.csv')

In [9]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [10]:
Data

   Zip Code  Age        Disease
0     47602   22  Heart Disease
1     47678   27  Heart Disease
2     47677   29  Heart Disease
3     47605   30  Heart Disease
4     47607   32         Cancer
5     47673   36         Cancer
6     47905   43            Flu
7     47906   47         Cancer
8     47909   52  Heart Disease